<!-- <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/> -->

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <a routerLink="#">Dashboard</a>
  <a href="#">Funcionários</a>
</div>
<header>
  <div class="container">
    <span id="myTitle" class="title" (click)="openNav()">
      Monitor da Saúde</span
    >
    <nav>
      <ul>
        <li><a routerLink="/login" class="navItem">Login</a></li>
        <li><a routerLink="#" class="navItem">Cadastre-se</a></li>
      </ul>
    </nav>
  </div>
</header>
